#b{
    position: fixed;
    
    background-color: aqua;
    text-align: center;

    
}
#h1{
    font-size:125px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;

}
#link{
    color: seagreen;
    font-size: 80px;
}